body{
    background-color: grey;
}
html, body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFF200;
}
#assignment_title{
    font-family: 'Saira', sans-serif;
    font-size: 66px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 3px white;
    text-decoration: underline;
}
.FirstLetter{
    color: #00D2D3;
    text-shadow: 2px 3px #00D2D3;
}
.LastLetter{
    color: #00D2D3;
    text-shadow: 2px 3px #00D2D3;
}
#css_title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    font-size: 40px;
    padding-left: 20px;
    margin: 0;
}
#layout_title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-left: 70px;
    padding-top: 30px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
}
.layout_section{
    height: 650px;
    position: relative;
}
.layout_assignment_section{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2,300px);
    grid-gap: 35px 50px;
}
.layout_assignment_section>div{
    position: relative;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 8px 10px 13px black;
}
.assignment_section>img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.assignment_section>div{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 3;
    transition: all 0.6s;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.main-title{
    position: absolute;
    top: 14%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 33px;
    padding-left: 35px;
    text-decoration: underline;
}
.viewFile{
    position: absolute;
    bottom: 25%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color: blue;
    padding-left: 35%;
}
.assignment_section>div:hover{
    opacity: 1;
    cursor: pointer;
    border: 6px ridge #FFF200;
    transition: all 0.6s;
}
#transition_title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-left: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.transition_section{
    height: 300px;
    position: relative;
}
.transition_assignment_section{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(1,300px);
    grid-gap: 35px 50px;
}
.transition_assignment_section>div{
    position: relative;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 8px 10px 13px black;
}
#animations_title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-left: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.animations_section{
    height: 690px;
    position: relative;
}
.animations_assignment_section{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2,300px);
    grid-gap: 35px 50px;
}
.animations_assignment_section>div{
    position: relative;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    box-shadow: 8px 10px 13px black;
}
@media all and (max-width: 320px) {
    .layout_section{
        height: 1050px;
    }
    .layout_assignment_section{
        grid-template-columns: repeat(1, 85vw);
        grid-template-rows: repeat(4, 210px);
        grid-gap: 50px;
        width: 100vw
    }
    .assignment_section{
        transform: translate(15px, 10px);
    }
    #assignment_title{
        font-size: 35px;
    }
    #css_title{
        font-size: 20px;
    }
    #layout_title{
        font-size: 18px;
    }
    .assignment_section>div{
        border: 6px ridge #FFF200;
        opacity: 1;
        transition: all 0s;
    }
    .main-title{
        font-size: 30px;
    }
    .assignment_section>img{
        opacity: 0.3;
    }
    #transition_title{
        font-size: 18px;
    }
    .transition_assignment_section{
        grid-template-columns: repeat(1, 85vw);
        grid-template-rows: repeat(4, 210px);
        grid-gap: 50px;
        width: 100vw
    }
    .transition_section{
        height: 530px;
    }
    #animations_title{
        font-size: 18px;
    }
    .animations_assignment_section{
        grid-template-columns: repeat(1, 85vw);
        grid-template-rows: repeat(4, 210px);
        grid-gap: 50px;
        width: 100vw
    }
    .animations_section{
        height: 1050px;
    }
}
@media all and (min-width: 320px) and (max-width: 375px) {
    .layout_section{
        height: 1050px;
    }
    .layout_assignment_section{
        grid-template-columns: repeat(1, 85vw);
        grid-template-rows: repeat(4, 210px);
        grid-gap: 50px;
        width: 100vw
    }
    .assignment_section{
        transform: translate(15px, 10px);
    }
    #assignment_title{
        font-size: 40px;
    }
    #css_title{
        font-size: 22px;
    }
    #layout_title{
        font-size: 20px;
    }
    .assignment_section>div{
        border: 6px ridge #FFF200;
        opacity: 1;
        transition: all 0s;
    }
    .main-title{
        font-size: 30px;
    }
    .assignment_section>img{
        opacity: 0.3;
    }
    #transition_title{
        font-size: 20px;
    }
    .transition_assignment_section{
        grid-template-columns: repeat(1, 85vw);
        grid-template-rows: repeat(4, 210px);
        grid-gap: 50px;
        width: 100vw
    }
    .transition_section{
        height: 530px;
    }
    #animations_title{
        font-size: 20px;
    }
    .animations_assignment_section{
        grid-template-columns: repeat(1, 85vw);
        grid-template-rows: repeat(4, 210px);
        grid-gap: 50px;
        width: 100vw
    }
    .animations_section{
        height: 1050px;
    }
}
