.background{
    background-color: #1B1B1B;
}
.nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    overflow: hidden;
}
.nav{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 99;
    transition: all 0.3s ease;
    border-radius: 0 0% 15% 15%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 1px;
}
.nav .Main-Menu ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
.nav .Main-Menu li{
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
}
.bg-img{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.Main-Menu{
    position: relative;
    right: 20px;
}
.nav .Main-Menu a{
    color: #00D2D3;
    -webkit-text-stroke:  1px black;
    paint-order: stroke fill;
    text-shadow: 2px 3px black;
}
.nav .Main-Menu a:hover{
    /*border-bottom: 3px solid snow;*/
    color: white;
}